In [33]:
#Import libraries
import pandas as pd
import os

In [51]:
folder_path = "C:/Users/seunt/Downloads/divvy-tripdata"

In [39]:
#Look inside the folder and pick out every csv file
all_files= [os.path.join(folder_path,f) for f in os.listdir(folder_path) if f.endswith('.csv')]

In [45]:
#Read each csv file into a list of dataframe
df_list = [pd.read_csv(file) for file in all_files]

In [42]:
#Combine all csvs into one DataFrame
df = pd.concat(df_list, ignore_index=True)

In [11]:
print(f"Combined data shape: {df.shape}")

Combined data shape: (5933712, 13)

In [12]:
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4EAD8F1AD547356B,electric_bike,2023-11-30 21:50:05,2023-11-30 22:13:27,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,-87.624082,41.949473,-87.646453,member
1,6322270563BF5470,electric_bike,2023-11-03 09:44:02,2023-11-03 10:17:15,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,-87.650035,41.952833,-87.649993,member
2,B37BDE091ECA38E0,electric_bike,2023-11-30 11:39:44,2023-11-30 11:40:08,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,-87.628694,41.897448,-87.628722,member
3,CF0CA5DD26E4F90E,classic_bike,2023-11-08 10:01:45,2023-11-08 10:27:05,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member
4,EB8381AA641348DB,classic_bike,2023-11-03 16:20:25,2023-11-03 16:54:25,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member

In [13]:
df.isnull().sum()

ride_id                     0
rideable_type               0
started_at                  0
ended_at                    0
start_station_name    1079270
start_station_id      1079270
end_station_name      1112056
end_station_id        1112056
start_lat                   0
start_lng                   0
end_lat                  7417
end_lng                  7417
member_casual               0
dtype: int64

In [53]:
#Convert started and ended column to datetime
df['started_at'] = pd.to_datetime(df['started_at'], format='mixed', errors='coerce')
df['ended_at'] = pd.to_datetime(df['ended_at'], format='mixed', errors='coerce')

In [54]:
#Calculate ride_length
df['ride_length'] = df['ended_at'] - df['started_at']

In [55]:
#Create day_of_week
df['day_of_week'] = df['started_at'].dt.day_name()

In [31]:
from datetime import timedelta #Import 'timedelta' which is used to represent time differences

#Filter out rides where ride_length is 0 or negative, removes invalid records where the bike ride 
#ended before it started or didn't last any measurable time
df = df[df['ride_length'] > timedelta(0)]

#Drop any rows that still contain missing values
df = df.dropna()

#Drop duplicate rows
df = df.drop_duplicates()

#Print final shape of the cleaned dataframe
print(f"Cleaned data shape: {df.shape}")

Cleaned data shape: (4273261, 15)

In [26]:
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
ride_length           0
day_of_week           0
dtype: int64

In [29]:
df.to_csv("cleaned_divvy_data.csv", index=False)